extends ../templates/template.pug
block header
    include ../includes/header.pug
block content
    main.main
        h2.title.title--center Bienvenido a la biblioteca

block footer
    include ../includes/footer.pug
block script
    include ../includes/scripts.pug