-
    const pages = [
        {
            title: "Socios",
            url: "#",
            child: [
                {
                    title: "Nuevo socio",
                    url: "/socios/altasocio"
                },
                {
                    title:"Listado de socios",
                    url: "/socios/listado"
                }
                ]
        },
        {
            title: "Autores",
            url: "#",
            child: [
                {
                    title: "Nuevo autor",
                    url: "/autores/altaautor"
                },
                {
                    title:"Listado de autores",
                    url: "/autores/listado"
                }
                ]
        }
    ]